/* COLOR SCHEME 1
- Logo text color: #d99702
- Header background: #68c5cc
- Text color: #063941
- Background color: #cee5e7
*/

/* Set a background color and text color for the entire page */
.html, .body {
  font-family: Helvetica, sans-serif;
  background-color: #FCFCFC;
  color: #171219;
}

/* Style the header with a background color, text color, and text alignment */
header {
  position: sticky;
  top: 0;
  padding: 1rem;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  background-color: #00B9AE;
}

.nav-bar {
  padding-left: 1%;
  padding-right: 1%;
  height: 3rem;
  display: grid;
  grid-template-columns: 70% 15% 15% 0%; /* 0% column is for toastify container */
}

/* LOGO */

.logo-text {
  margin-bottom: auto;
  padding: auto;
  width: 50%;
  color: #225560;
  text-align: left;
  font-weight: bold;
  font-size: 200%;
}

/* NAVBAR LABELS */

.navbar-label-box {
  margin: auto;
  margin-right: 25%;
}

.navbar-label-text {
  color: #FCFCFC;
  background-color: #00B9AE;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

.navbar-label-text:hover {
  text-decoration: underline;
}

/* MANAGE ALLERGIES */

.allergy-list-toggle {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  height: 70%;
  border: none;
  border-radius: 10px;
  color: #225560;
  background-color: #FCFCFC;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
}

.allergy-list-toggle:active {
  color: #FCFCFC;
  background-color: #00B9AE;
}

.allergy-list-toggle:hover {
  text-decoration: underline;
}

/* ALLERGY LIST */

.allergy-box {
  position: fixed;
  padding: 1rem;
  top: 6rem;
  right: 1rem;
  width: 25%;
  border: solid;
  border-radius: 10px;
  border-color: #225560;
  background-color: #FCFCFC;
}

.allergy-search-bar {
  text-align: center;
}

.allergy-search-bar input {
  width: 95%;
}

.allergy-tag {
  width: auto;
  height: 3rem;
  border: solid;
  border-radius: 10px;
}

.allergy-tag p {
  margin: 0.5rem;
}

/* Additional styles for search bars and allergy list table */
.search-bar {
  margin: 3%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 65%;
  border: 1px solid #ababab;
  border-radius: 10px;
  padding: 8px;
  background-color: #f0f0f0;
}

.search-bar input {
  border: none;
  background: none;
  font-size: 1rem;
  color: #ababab;
  outline: none;
  width: 100%;
}

.search-bar input:focus {
  color: #171219;
}

/* SEARCH RESULTS */

.recipe-output { /* outer box around all recipes */
  margin-left: 3%;
  width: 70%;
  white-space: pre-line;
}

.recipe-box { /* first container within recipe-output */
  border: 1px solid #ababab;
  border-radius: 10px;
  margin-right: 5%;
  margin-bottom: 2%;
  padding: 10px;
  background-color: #f0f0f0;
}

.recipe-name {
  color: #02C3BD;
  font-size: 1.5rem;
  font-weight: bold;
}

.recipe-warning-label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #225560;
}

.recipe-label {
  color: #171219;
}

.recipe-content {
  color: #171219;
}